date : Date in MM-DD-YYYY
day : Day of the Week
quarter : A portion of the month. A month was divided into four quarters
department : Associated department with the instance
teamno : Associated team number with the instance
noofworkers : Number of workers in each team
noofstylechange : Number of changes in the style of a particular product
targetedproductivity : Targeted productivity set by the Authority for each team for each day.
smv : Standard Minute Value, it is the allocated time for a task
wip : Work in progress. Includes the number of unfinished items for products
overtime : Represents the amount of overtime by each team in minutes
incentive : Represents the amount of financial incentive (in BDT) that enables or motivates a particular course of action.
idletime : The amount of time when the production was interrupted due to several reasons
idlemen : The number of workers who were idle due to production interruption
actual_productivity : The actual % of productivity that was delivered by the workers. It ranges from 0-1.

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('garments_worker_productivity.csv')
data

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,1/1/2015,Quarter1,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
1,1/1/2015,Quarter1,finishing,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
2,1/1/2015,Quarter1,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,1/1/2015,Quarter1,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,1/1/2015,Quarter1,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192,3/11/2015,Quarter2,finishing,Wednesday,10,0.75,2.90,NaN,960,0,0.0,0,0,8.0,0.628333
1193,3/11/2015,Quarter2,finishing,Wednesday,8,0.70,3.90,NaN,960,0,0.0,0,0,8.0,0.625625
1194,3/11/2015,Quarter2,finishing,Wednesday,7,0.65,3.90,NaN,960,0,0.0,0,0,8.0,0.625625
1195,3/11/2015,Quarter2,finishing,Wednesday,9,0.75,2.90,NaN,1800,0,0.0,0,0,15.0,0.505889
1196,3/11/2015,Quarter2,finishing,Wednesday,6,0.70,2.90,NaN,720,0,0.0,0,0,6.0,0.394722

In [3]:
data.columns

Index(['date', 'quarter', 'department', 'day', 'team', 'targeted_productivity',
       'smv', 'wip', 'over_time', 'incentive', 'idle_time', 'idle_men',
       'no_of_style_change', 'no_of_workers', 'actual_productivity'],
      dtype='object')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1197 entries, 0 to 1196
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   1197 non-null   object
 1   quarter                1197 non-null   object
 2   department             1197 non-null   object
 3   day                    1197 non-null   object
 4   team                   1197 non-null   int64
 5   targeted_productivity  1197 non-null   float64
 6   smv                    1197 non-null   float64
 7   wip                    691 non-null    float64
 8   over_time              1197 non-null   int64
 9   incentive              1197 non-null   int64
 10  idle_time              1197 non-null   float64
 11  idle_men               1197 non-null   int64
 12  no_of_style_change     1197 non-null   int64
 13  no_of_workers          1197 non-null   float64
 14  actual_productivity    1197 non-null   float64
dtypes: float64(6), int64(5), object(4)
memory usage: 140.4+ KB

In [5]:
data.isnull().sum()

date                       0
quarter                    0
department                 0
day                        0
team                       0
targeted_productivity      0
smv                        0
wip                      506
over_time                  0
incentive                  0
idle_time                  0
idle_men                   0
no_of_style_change         0
no_of_workers              0
actual_productivity        0
dtype: int64

In [6]:
data['wip'].fillna(data['wip'].median(),inplace=True)
data['wip'].isnull().sum()

0

In [7]:
data['Date'] = data['date'].str.split('/').str[0]
data['Month'] = data['date'].str.split('/').str[1]
data['Year'] = data['date'].str.split('/').str[2]
data

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity,Date,Month,Year
0,1/1/2015,Quarter1,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725,1,1,2015
1,1/1/2015,Quarter1,finishing,Thursday,1,0.75,3.94,1039.0,960,0,0.0,0,0,8.0,0.886500,1,1,2015
2,1/1/2015,Quarter1,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570,1,1,2015
3,1/1/2015,Quarter1,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570,1,1,2015
4,1/1/2015,Quarter1,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382,1,1,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192,3/11/2015,Quarter2,finishing,Wednesday,10,0.75,2.90,1039.0,960,0,0.0,0,0,8.0,0.628333,3,11,2015
1193,3/11/2015,Quarter2,finishing,Wednesday,8,0.70,3.90,1039.0,960,0,0.0,0,0,8.0,0.625625,3,11,2015
1194,3/11/2015,Quarter2,finishing,Wednesday,7,0.65,3.90,1039.0,960,0,0.0,0,0,8.0,0.625625,3,11,2015
1195,3/11/2015,Quarter2,finishing,Wednesday,9,0.75,2.90,1039.0,1800,0,0.0,0,0,15.0,0.505889,3,11,2015
1196,3/11/2015,Quarter2,finishing,Wednesday,6,0.70,2.90,1039.0,720,0,0.0,0,0,6.0,0.394722,3,11,2015

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1197 entries, 0 to 1196
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   1197 non-null   object
 1   quarter                1197 non-null   object
 2   department             1197 non-null   object
 3   day                    1197 non-null   object
 4   team                   1197 non-null   int64
 5   targeted_productivity  1197 non-null   float64
 6   smv                    1197 non-null   float64
 7   wip                    1197 non-null   float64
 8   over_time              1197 non-null   int64
 9   incentive              1197 non-null   int64
 10  idle_time              1197 non-null   float64
 11  idle_men               1197 non-null   int64
 12  no_of_style_change     1197 non-null   int64
 13  no_of_workers          1197 non-null   float64
 14  actual_productivity    1197 non-null   float64
 15  Date                   1197 non-null   object
 16  Month                  1197 non-null   object
 17  Year                   1197 non-null   object
dtypes: float64(6), int64(5), object(7)
memory usage: 168.5+ KB

In [9]:
data['Date'] = data['Date'].astype(int)
data['Month'] = data['Month'].astype(int)
data['Year'] = data['Year'].astype(int)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1197 entries, 0 to 1196
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   1197 non-null   object
 1   quarter                1197 non-null   object
 2   department             1197 non-null   object
 3   day                    1197 non-null   object
 4   team                   1197 non-null   int64
 5   targeted_productivity  1197 non-null   float64
 6   smv                    1197 non-null   float64
 7   wip                    1197 non-null   float64
 8   over_time              1197 non-null   int64
 9   incentive              1197 non-null   int64
 10  idle_time              1197 non-null   float64
 11  idle_men               1197 non-null   int64
 12  no_of_style_change     1197 non-null   int64
 13  no_of_workers          1197 non-null   float64
 14  actual_productivity    1197 non-null   float64
 15  Date                   1197 non-null   int32
 16  Month                  1197 non-null   int32
 17  Year                   1197 non-null   int32
dtypes: float64(6), int32(3), int64(5), object(4)
memory usage: 154.4+ KB

In [10]:
data.drop('date',axis=1,inplace=True)

In [11]:
data

,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity,Date,Month,Year
0,Quarter1,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725,1,1,2015
1,Quarter1,finishing,Thursday,1,0.75,3.94,1039.0,960,0,0.0,0,0,8.0,0.886500,1,1,2015
2,Quarter1,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570,1,1,2015
3,Quarter1,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570,1,1,2015
4,Quarter1,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382,1,1,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192,Quarter2,finishing,Wednesday,10,0.75,2.90,1039.0,960,0,0.0,0,0,8.0,0.628333,3,11,2015
1193,Quarter2,finishing,Wednesday,8,0.70,3.90,1039.0,960,0,0.0,0,0,8.0,0.625625,3,11,2015
1194,Quarter2,finishing,Wednesday,7,0.65,3.90,1039.0,960,0,0.0,0,0,8.0,0.625625,3,11,2015
1195,Quarter2,finishing,Wednesday,9,0.75,2.90,1039.0,1800,0,0.0,0,0,15.0,0.505889,3,11,2015
1196,Quarter2,finishing,Wednesday,6,0.70,2.90,1039.0,720,0,0.0,0,0,6.0,0.394722,3,11,2015

In [12]:
data['quarter'].unique()

array(['Quarter1', 'Quarter2', 'Quarter3', 'Quarter4', 'Quarter5'],
      dtype=object)

In [13]:
data['quarter'] = data['quarter'].map({'Quarter1':0,'Quarter2':1,'Quarter3':2,'Quarter4':3,'Quarter5':4})
data

,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity,Date,Month,Year
0,0,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725,1,1,2015
1,0,finishing,Thursday,1,0.75,3.94,1039.0,960,0,0.0,0,0,8.0,0.886500,1,1,2015
2,0,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570,1,1,2015
3,0,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570,1,1,2015
4,0,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382,1,1,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192,1,finishing,Wednesday,10,0.75,2.90,1039.0,960,0,0.0,0,0,8.0,0.628333,3,11,2015
1193,1,finishing,Wednesday,8,0.70,3.90,1039.0,960,0,0.0,0,0,8.0,0.625625,3,11,2015
1194,1,finishing,Wednesday,7,0.65,3.90,1039.0,960,0,0.0,0,0,8.0,0.625625,3,11,2015
1195,1,finishing,Wednesday,9,0.75,2.90,1039.0,1800,0,0.0,0,0,15.0,0.505889,3,11,2015
1196,1,finishing,Wednesday,6,0.70,2.90,1039.0,720,0,0.0,0,0,6.0,0.394722,3,11,2015

In [14]:
data['department'].unique()

array(['sweing', 'finishing ', 'finishing'], dtype=object)

In [15]:
data['department'] = data['department'].map({'sweing':0,'finishing ':1,'finishing':1})

In [16]:
data['department'].unique()

array([0, 1], dtype=int64)

In [17]:
data.head()

,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity,Date,Month,Year
0,0,0,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725,1,1,2015
1,0,1,Thursday,1,0.75,3.94,1039.0,960,0,0.0,0,0,8.0,0.886500,1,1,2015
2,0,0,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570,1,1,2015
3,0,0,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570,1,1,2015
4,0,0,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382,1,1,2015

In [18]:
data['team'].unique()

array([ 8,  1, 11, 12,  6,  7,  2,  3,  9, 10,  5,  4], dtype=int64)

In [19]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
labelencoder = LabelEncoder()

In [20]:
data['team'] = labelencoder.fit_transform(data['team'])
data['team']

0        7
1        0
2       10
3       11
4        5
        ..
1192     9
1193     7
1194     6
1195     8
1196     5
Name: team, Length: 1197, dtype: int64

In [21]:
data['day'] = labelencoder.fit_transform(data['day'])
data['day']

0       3
1       3
2       3
3       3
4       3
       ..
1192    5
1193    5
1194    5
1195    5
1196    5
Name: day, Length: 1197, dtype: int32

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1197 entries, 0 to 1196
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   quarter                1197 non-null   int64
 1   department             1197 non-null   int64
 2   day                    1197 non-null   int32
 3   team                   1197 non-null   int64
 4   targeted_productivity  1197 non-null   float64
 5   smv                    1197 non-null   float64
 6   wip                    1197 non-null   float64
 7   over_time              1197 non-null   int64
 8   incentive              1197 non-null   int64
 9   idle_time              1197 non-null   float64
 10  idle_men               1197 non-null   int64
 11  no_of_style_change     1197 non-null   int64
 12  no_of_workers          1197 non-null   float64
 13  actual_productivity    1197 non-null   float64
 14  Date                   1197 non-null   int32
 15  Month                  1197 non-null   int32
 16  Year                   1197 non-null   int32
dtypes: float64(6), int32(4), int64(7)
memory usage: 140.4 KB

In [23]:
data

,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity,Date,Month,Year
0,0,0,3,7,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725,1,1,2015
1,0,1,3,0,0.75,3.94,1039.0,960,0,0.0,0,0,8.0,0.886500,1,1,2015
2,0,0,3,10,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570,1,1,2015
3,0,0,3,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570,1,1,2015
4,0,0,3,5,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382,1,1,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192,1,1,5,9,0.75,2.90,1039.0,960,0,0.0,0,0,8.0,0.628333,3,11,2015
1193,1,1,5,7,0.70,3.90,1039.0,960,0,0.0,0,0,8.0,0.625625,3,11,2015
1194,1,1,5,6,0.65,3.90,1039.0,960,0,0.0,0,0,8.0,0.625625,3,11,2015
1195,1,1,5,8,0.75,2.90,1039.0,1800,0,0.0,0,0,15.0,0.505889,3,11,2015
1196,1,1,5,5,0.70,2.90,1039.0,720,0,0.0,0,0,6.0,0.394722,3,11,2015

In [24]:
x = data.iloc[:,0:17]
x.drop('actual_productivity',axis=1,inplace=True)
x

,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,Date,Month,Year
0,0,0,3,7,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,1,1,2015
1,0,1,3,0,0.75,3.94,1039.0,960,0,0.0,0,0,8.0,1,1,2015
2,0,0,3,10,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,1,1,2015
3,0,0,3,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,1,1,2015
4,0,0,3,5,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,1,1,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192,1,1,5,9,0.75,2.90,1039.0,960,0,0.0,0,0,8.0,3,11,2015
1193,1,1,5,7,0.70,3.90,1039.0,960,0,0.0,0,0,8.0,3,11,2015
1194,1,1,5,6,0.65,3.90,1039.0,960,0,0.0,0,0,8.0,3,11,2015
1195,1,1,5,8,0.75,2.90,1039.0,1800,0,0.0,0,0,15.0,3,11,2015
1196,1,1,5,5,0.70,2.90,1039.0,720,0,0.0,0,0,6.0,3,11,2015

In [25]:
y = data['actual_productivity']
y

0       0.940725
1       0.886500
2       0.800570
3       0.800570
4       0.800382
          ...
1192    0.628333
1193    0.625625
1194    0.625625
1195    0.505889
1196    0.394722
Name: actual_productivity, Length: 1197, dtype: float64

In [26]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3)

In [53]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.metrics import mean_squared_error

In [60]:
model = Sequential([
    Dense(units=16,input_shape=(16,),activation='linear'),
    Dense(units=32,activation='linear'),
    Dense(units=1,activation='linear'),
])

In [61]:
model.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 16)                272

 dense_16 (Dense)            (None, 32)                544

 dense_17 (Dense)            (None, 1)                 33

=================================================================
Total params: 849
Trainable params: 849
Non-trainable params: 0
_________________________________________________________________

In [64]:
model.compile(optimizer=Adam(learning_rate=0.0001), loss='mean_squared_error',metrics=['mean_squared_error'])

In [66]:
model.fit(x=x_train, y=y_train, batch_size=30, epochs=50, shuffle=True, verbose=2)

Epoch 1/50
28/28 - 0s - loss: 56.2646 - mean_squared_error: 56.2646 - 182ms/epoch - 6ms/step
Epoch 2/50
28/28 - 0s - loss: 26.6675 - mean_squared_error: 26.6675 - 176ms/epoch - 6ms/step
Epoch 3/50
28/28 - 0s - loss: 5.6290 - mean_squared_error: 5.6290 - 184ms/epoch - 7ms/step
Epoch 4/50
28/28 - 0s - loss: 1.5466 - mean_squared_error: 1.5466 - 184ms/epoch - 7ms/step
Epoch 5/50
28/28 - 0s - loss: 1.3511 - mean_squared_error: 1.3511 - 296ms/epoch - 11ms/step
Epoch 6/50
28/28 - 0s - loss: 1.3529 - mean_squared_error: 1.3529 - 327ms/epoch - 12ms/step
Epoch 7/50
28/28 - 0s - loss: 1.3448 - mean_squared_error: 1.3448 - 196ms/epoch - 7ms/step
Epoch 8/50
28/28 - 0s - loss: 1.1782 - mean_squared_error: 1.1782 - 225ms/epoch - 8ms/step
Epoch 9/50
28/28 - 1s - loss: 1.1396 - mean_squared_error: 1.1396 - 513ms/epoch - 18ms/step
Epoch 10/50
28/28 - 1s - loss: 1.1298 - mean_squared_error: 1.1298 - 587ms/epoch - 21ms/step
Epoch 11/50
28/28 - 0s - loss: 1.0490 - mean_squared_error: 1.0490 - 366ms/epoch - 13ms/step
Epoch 12/50
28/28 - 0s - loss: 1.0811 - mean_squared_error: 1.0811 - 216ms/epoch - 8ms/step
Epoch 13/50
28/28 - 0s - loss: 1.1356 - mean_squared_error: 1.1356 - 219ms/epoch - 8ms/step
Epoch 14/50
28/28 - 0s - loss: 1.0556 - mean_squared_error: 1.0556 - 232ms/epoch - 8ms/step
Epoch 15/50
28/28 - 0s - loss: 1.0030 - mean_squared_error: 1.0030 - 350ms/epoch - 13ms/step
Epoch 16/50
28/28 - 0s - loss: 0.9951 - mean_squared_error: 0.9951 - 234ms/epoch - 8ms/step
Epoch 17/50
28/28 - 0s - loss: 1.0986 - mean_squared_error: 1.0986 - 249ms/epoch - 9ms/step
Epoch 18/50
28/28 - 0s - loss: 1.3444 - mean_squared_error: 1.3444 - 294ms/epoch - 10ms/step
Epoch 19/50
28/28 - 0s - loss: 1.0306 - mean_squared_error: 1.0306 - 340ms/epoch - 12ms/step
Epoch 20/50
28/28 - 0s - loss: 1.2495 - mean_squared_error: 1.2495 - 329ms/epoch - 12ms/step
Epoch 21/50
28/28 - 0s - loss: 1.0657 - mean_squared_error: 1.0657 - 301ms/epoch - 11ms/step
Epoch 22/50
28/28 - 0s - loss: 1.0922 - mean_squared_error: 1.0922 - 215ms/epoch - 8ms/step
Epoch 23/50
28/28 - 1s - loss: 0.9700 - mean_squared_error: 0.9700 - 524ms/epoch - 19ms/step
Epoch 24/50
28/28 - 0s - loss: 0.9691 - mean_squared_error: 0.9691 - 220ms/epoch - 8ms/step
Epoch 25/50
28/28 - 0s - loss: 0.9213 - mean_squared_error: 0.9213 - 212ms/epoch - 8ms/step
Epoch 26/50
28/28 - 0s - loss: 0.9375 - mean_squared_error: 0.9375 - 424ms/epoch - 15ms/step
Epoch 27/50
28/28 - 0s - loss: 0.9770 - mean_squared_error: 0.9770 - 270ms/epoch - 10ms/step
Epoch 28/50
28/28 - 0s - loss: 0.8724 - mean_squared_error: 0.8724 - 205ms/epoch - 7ms/step
Epoch 29/50
28/28 - 0s - loss: 0.8691 - mean_squared_error: 0.8691 - 204ms/epoch - 7ms/step
Epoch 30/50
28/28 - 0s - loss: 1.3151 - mean_squared_error: 1.3151 - 209ms/epoch - 7ms/step
Epoch 31/50
28/28 - 0s - loss: 1.0713 - mean_squared_error: 1.0713 - 383ms/epoch - 14ms/step
Epoch 32/50
28/28 - 0s - loss: 0.8083 - mean_squared_error: 0.8083 - 264ms/epoch - 9ms/step
Epoch 33/50
28/28 - 0s - loss: 0.8118 - mean_squared_error: 0.8118 - 230ms/epoch - 8ms/step
Epoch 34/50
28/28 - 0s - loss: 0.8036 - mean_squared_error: 0.8036 - 234ms/epoch - 8ms/step
Epoch 35/50
28/28 - 1s - loss: 0.9155 - mean_squared_error: 0.9155 - 566ms/epoch - 20ms/step
Epoch 36/50
28/28 - 0s - loss: 1.0400 - mean_squared_error: 1.0400 - 346ms/epoch - 12ms/step
Epoch 37/50
28/28 - 0s - loss: 0.9906 - mean_squared_error: 0.9906 - 195ms/epoch - 7ms/step
Epoch 38/50
28/28 - 0s - loss: 0.7613 - mean_squared_error: 0.7613 - 278ms/epoch - 10ms/step
Epoch 39/50
28/28 - 1s - loss: 0.7213 - mean_squared_error: 0.7213 - 536ms/epoch - 19ms/step
Epoch 40/50
28/28 - 1s - loss: 0.8295 - mean_squared_error: 0.8295 - 515ms/epoch - 18ms/step
Epoch 41/50
28/28 - 0s - loss: 0.7246 - mean_squared_error: 0.7246 - 355ms/epoch - 13ms/step
Epoch 42/50
28/28 - 0s - loss: 0.9895 - mean_squared_error: 0.9895 - 211ms/epoch - 8ms/step
Epoch 43/50
28/28 - 1s - loss: 1.1323 - mean_squared_error: 1.1323 - 528ms/epoch - 19ms/step
Epoch 44/50
28/28 - 0s - loss: 0.9180 - mean_squared_error: 0.9180 - 228ms/epoch - 8ms/step
Epoch 45/50
28/28 - 0s - loss: 0.7088 - mean_squared_error: 0.7088 - 375ms/epoch - 13ms/step
Epoch 46/50
28/28 - 0s - loss: 0.6198 - mean_squared_error: 0.6198 - 487ms/epoch - 17ms/step
Epoch 47/50
28/28 - 0s - loss: 0.6634 - mean_squared_error: 0.6634 - 206ms/epoch - 7ms/step
Epoch 48/50
28/28 - 1s - loss: 0.6778 - mean_squared_error: 0.6778 - 546ms/epoch - 20ms/step
Epoch 49/50
28/28 - 0s - loss: 0.5998 - mean_squared_error: 0.5998 - 390ms/epoch - 14ms/step
Epoch 50/50
28/28 - 0s - loss: 0.6188 - mean_squared_error: 0.6188 - 250ms/epoch - 9ms/step

In [67]:
predictions = model.predict(x_test)

12/12 [==============================] - 1s 7ms/step

In [68]:
predictions

array([[ 2.5542698 ],
       [ 0.16691019],
       [ 0.716074  ],
       [ 1.1524601 ],
       [ 0.29621318],
       [-0.58062935],
       [ 1.0207005 ],
       [ 1.2373142 ],
       [ 0.08548929],
       [ 0.46555522],
       [ 1.2284946 ],
       [ 0.28568462],
       [ 2.0019932 ],
       [ 0.68409157],
       [ 2.5093784 ],
       [ 2.3274937 ],
       [-0.05208395],
       [ 0.83873177],
       [ 0.753458  ],
       [-0.46733662],
       [ 1.7944736 ],
       [ 1.7307835 ],
       [ 1.2947178 ],
       [ 0.5351658 ],
       [ 0.05265238],
       [ 0.00712015],
       [ 1.1606083 ],
       [ 0.43997386],
       [ 1.0210514 ],
       [ 1.0948277 ],
       [ 1.9702854 ],
       [ 0.43911937],
       [ 0.06534769],
       [ 1.5690708 ],
       [ 1.5774021 ],
       [ 0.64422035],
       [ 0.51078224],
       [ 1.2568913 ],
       [ 1.6051426 ],
       [ 1.0932865 ],
       [ 0.4533787 ],
       [ 0.6446171 ],
       [ 1.5727024 ],
       [ 0.44443706],
       [ 1.1073551 ],
       [ 1.0580997 ],
       [ 1.2311192 ],
       [ 2.0458164 ],
       [ 2.5925388 ],
       [ 0.48087505],
       [ 1.9735203 ],
       [ 1.5440464 ],
       [ 1.7973423 ],
       [-0.12651633],
       [ 0.03122904],
       [ 1.1939793 ],
       [ 0.4039555 ],
       [-0.3877773 ],
       [ 0.8528538 ],
       [ 1.7963657 ],
       [ 2.0126896 ],
       [ 1.2224827 ],
       [ 0.36513713],
       [ 0.70417595],
       [ 1.0561314 ],
       [ 1.151598  ],
       [ 0.5091343 ],
       [ 0.30684856],
       [ 2.0492191 ],
       [ 0.49946025],
       [ 0.5173588 ],
       [ 2.6637058 ],
       [ 1.1603794 ],
       [ 0.07642557],
       [ 0.903162  ],
       [ 1.9170628 ],
       [ 1.5838718 ],
       [ 2.129221  ],
       [ 1.7272129 ],
       [-0.82871056],
       [ 1.2537022 ],
       [ 1.9840183 ],
       [ 0.4034672 ],
       [ 0.9140568 ],
       [ 2.328516  ],
       [ 0.7217808 ],
       [ 0.677927  ],
       [ 2.2509556 ],
       [ 2.4705296 ],
       [ 0.00473978],
       [-0.07332419],
       [ 2.1603184 ],
       [ 0.9690647 ],
       [ 1.5774632 ],
       [ 0.19335367],
       [ 1.5645847 ],
       [ 0.3568211 ],
       [ 1.2901096 ],
       [ 0.77643776],
       [ 1.9381504 ],
       [ 1.4274387 ],
       [-0.07692526],
       [ 2.1495152 ],
       [ 0.02350809],
       [ 1.0123692 ],
       [ 0.656229  ],
       [ 1.3373203 ],
       [ 2.3060246 ],
       [ 0.38804057],
       [ 0.9851475 ],
       [ 0.9716282 ],
       [ 1.5573215 ],
       [-0.18785666],
       [ 1.5518894 ],
       [ 1.5689793 ],
       [ 0.42737773],
       [ 1.1076164 ],
       [ 0.35302165],
       [ 1.0054417 ],
       [ 1.4383945 ],
       [-0.41475484],
       [ 1.3933506 ],
       [ 2.4220982 ],
       [ 0.5131626 ],
       [-0.48470113],
       [ 2.2212467 ],
       [ 1.609415  ],
       [ 1.633524  ],
       [ 0.9402561 ],
       [ 1.7577915 ],
       [ 1.4255466 ],
       [ 0.5276432 ],
       [ 1.1638432 ],
       [ 2.2274418 ],
       [ 1.8493443 ],
       [ 0.18240167],
       [ 1.4316196 ],
       [ 1.2862492 ],
       [ 0.60019875],
       [ 2.3580112 ],
       [ 0.8880253 ],
       [ 1.2002659 ],
       [ 2.059     ],
       [ 0.45539287],
       [ 1.2037601 ],
       [-0.11513327],
       [ 0.3162785 ],
       [ 0.8822422 ],
       [ 1.6233311 ],
       [ 1.8885288 ],
       [ 0.88044167],
       [ 2.434946  ],
       [ 2.0526218 ],
       [ 0.69919777],
       [ 0.6893711 ],
       [ 2.1186008 ],
       [ 1.2234898 ],
       [ 0.288065  ],
       [-0.21147726],
       [ 1.2148838 ],
       [ 1.5761204 ],
       [ 0.3090916 ],
       [ 0.37476543],
       [ 1.6808567 ],
       [ 0.85842323],
       [ 2.0169926 ],
       [ 1.0753727 ],
       [ 1.2559605 ],
       [ 0.9017124 ],
       [ 0.45087627],
       [-0.08662985],
       [ 1.9582615 ],
       [ 2.2469501 ],
       [ 1.2465916 ],
       [ 0.23224832],
       [ 2.3504734 ],
       [ 0.65677834],
       [ 2.107767  ],
       [ 2.1610508 ],
       [ 0.8685703 ],
       [-0.25060079],
       [ 0.74614906],
       [ 0.51807594],
       [ 0.9464359 ],
       [ 0.2913914 ],
       [ 2.3474522 ],
       [ 0.32166484],
       [ 1.0856419 ],
       [ 0.30915263],
       [ 1.5320759 ],
       [ 0.13373758],
       [ 2.396494  ],
       [ 1.4425755 ],
       [ 2.2063236 ],
       [ 0.26209453],
       [ 1.7898045 ],
       [ 1.6501255 ],
       [ 1.6320591 ],
       [ 2.0570164 ],
       [ 0.42995647],
       [-0.41219136],
       [ 2.7662144 ],
       [ 1.992075  ],
       [ 0.64554787],
       [ 2.26684   ],
       [ 0.51999855],
       [ 0.07679178],
       [ 1.6547947 ],
       [ 0.9782505 ],
       [ 1.5575047 ],
       [ 1.5704441 ],
       [ 1.0718174 ],
       [ 1.3080845 ],
       [ 1.2475376 ],
       [ 0.768137  ],
       [ 0.9898472 ],
       [ 1.7700596 ],
       [ 1.5202122 ],
       [ 1.6824741 ],
       [ 1.0783787 ],
       [ 0.6072483 ],
       [ 0.11918069],
       [ 2.6367283 ],
       [ 0.7295017 ],
       [ 0.8613987 ],
       [ 0.93320656],
       [ 1.0197239 ],
       [-0.040884  ],
       [ 1.449091  ],
       [ 0.22999002],
       [ 0.7127476 ],
       [ 1.9481602 ],
       [ 1.093729  ],
       [-0.05019186],
       [ 1.9146519 ],
       [ 0.1881199 ],
       [ 0.7121067 ],
       [ 2.4771214 ],
       [ 0.78728676],
       [ 1.1594944 ],
       [ 0.52918434],
       [ 1.940073  ],
       [-0.31215474],
       [ 1.7754917 ],
       [ 2.2622166 ],
       [ 2.0263157 ],
       [ 1.0070591 ],
       [ 1.339716  ],
       [ 1.1306248 ],
       [ 0.4351292 ],
       [ 0.4948826 ],
       [ 1.1184483 ],
       [ 1.7645359 ],
       [ 1.456644  ],
       [ 0.14008524],
       [ 0.3741856 ],
       [ 0.16199686],
       [ 0.47562602],
       [ 0.26998332],
       [ 0.58683205],
       [ 1.8937626 ],
       [ 1.3269444 ],
       [ 2.0767612 ],
       [ 0.09632303],
       [ 2.3745823 ],
       [ 0.28782085],
       [ 2.2583714 ],
       [ 1.2315159 ],
       [ 2.119608  ],
       [ 1.9820042 ],
       [-0.31937215],
       [ 1.9714146 ],
       [ 1.9321079 ],
       [-0.23889731],
       [ 1.1940403 ],
       [ 1.8961887 ],
       [ 0.52061653],
       [-0.07152365],
       [ 0.2801762 ],
       [ 0.38154033],
       [-0.81960106],
       [ 0.8790989 ],
       [ 0.81350136],
       [ 2.6007023 ],
       [ 0.34243968],
       [ 0.7858982 ],
       [ 1.9723606 ],
       [ 1.7002888 ],
       [ 1.0482883 ],
       [ 0.23676492],
       [ 1.0522556 ],
       [ 2.7145329 ],
       [ 1.4931126 ],
       [ 1.5473423 ],
       [ 0.8867817 ],
       [ 1.0084629 ],
       [ 1.9109898 ],
       [ 1.5517826 ],
       [ 0.2759724 ],
       [ 0.8929844 ],
       [ 0.24185754],
       [ 0.30793193],
       [ 0.577158  ],
       [ 0.8447361 ],
       [ 0.1243992 ],
       [-0.18129538],
       [ 0.6478672 ],
       [ 2.0213108 ],
       [ 0.14930917],
       [ 1.3854771 ],
       [ 0.26609233],
       [ 1.9446507 ],
       [ 0.14447977],
       [ 1.6955204 ],
       [ 1.7667027 ],
       [ 2.8518772 ],
       [ 0.8445854 ],
       [ 0.8649998 ],
       [ 2.4821262 ],
       [ 2.1745472 ],
       [ 0.09790994],
       [ 0.29837993],
       [ 2.6356907 ],
       [ 0.7268772 ],
       [ 0.9992161 ],
       [ 0.03943064],
       [-0.19753073],
       [ 1.3588352 ],
       [-0.19782256],
       [ 1.3931675 ],
       [ 1.6778965 ],
       [-0.21899985],
       [-0.2516689 ],
       [ 1.5313816 ],
       [ 1.9757175 ],
       [ 1.2024326 ],
       [ 2.5796757 ],
       [ 2.017435  ],
       [ 1.6015873 ],
       [ 0.83335304],
       [ 2.6611729 ],
       [ 2.287363  ],
       [-0.09068869],
       [ 1.1955509 ],
       [ 0.04195597],
       [ 0.9849949 ],
       [ 0.9086704 ],
       [ 0.10349466],
       [ 0.16672708],
       [ 0.37238505],
       [ 1.734293  ],
       [ 0.59945107],
       [ 1.9518528 ],
       [ 1.2662449 ],
       [ 0.38505462],
       [ 1.0997639 ],
       [ 1.4355869 ],
       [ 0.29221538],
       [ 2.296091  ],
       [ 1.5181217 ]], dtype=float32)

In [70]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,predictions)

0.7451488266976346

In [71]:
model.save('model.h5')

In [72]:
from tensorflow.keras.models import load_model

model = load_model('model.h5')
model.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 16)                272

 dense_16 (Dense)            (None, 32)                544

 dense_17 (Dense)            (None, 1)                 33

=================================================================
Total params: 849
Trainable params: 849
Non-trainable params: 0
_________________________________________________________________